* {
  scroll-behavior: smooth !important;
}
.bgHero {
  background-image: url(../src/assets/images/webp/heroBg2X.webp);
}
.shadow_box {
  box-shadow: 0px 6px 39px 0px rgba(91, 149, 224, 0.13);
}
.typed {
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
.typed2 {
  animation-delay: 2.3s;
}
::-webkit-scrollbar {
  display: none !important;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.rotate-180 {
  rotate: 180deg;
}
.footer_bg_img {
  background-image: url("./assets/images/webp/footer_bg_img.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.afterContent::after {
  content: "";
  background-image: url(./assets/images/svg/dotLine.svg);
}
@media (min-width: 767.98px) {
  .footer_bg_img {
    background-image: url("./assets/images/webp/footer_layer.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
.yellow_bg_img {
  background-image: url(./assets/images/webp/yellow_bg_img.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.shadow_pricing {
  box-shadow: 0px 10px 32px 0px rgba(91, 149, 224, 0.13);
}
@media (min-width: 767.98px) {
  .footer_bg_img {
    background-image: url("./assets/images/webp/footer_layer.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
.yellow_bg_img {
  background-image: url(./assets/images/webp/yellow_bg_img.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.shadow_pricing {
  box-shadow: 0px 10px 32px 0px rgba(91, 149, 224, 0.13);
}
.bg_customer_feature {
  background-image: url("../src/assets/images/webp/features_bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1240px) and (min-width: 1020px) {
  .bgHero {
    background-size: 122% 100%;
    background-position-x: -150px;
  }
}
@media (min-width: 1240px) {
  .bgHero {
    background-size: 112% 100%;
    background-position-x: -150px;
  }
}
