@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

@font-face {
  font-family: "helvetica-light";
  src: url(./assets/fonts/Helvetica-font/HelveticaNeue\ Light.ttf);
}
@font-face {
  font-family: "helvetica-medium";
  src: url(./assets/fonts/Helvetica-font/HelveticaNeue\ Medium.ttf);
}
@font-face {
  font-family: "helvetica-regular";
  src: url(./assets/fonts/Helvetica-font/HelveticaNeueIt.ttf);
}
@font-face {
  font-family: "helvetica-bold";
  src: url(./assets/fonts/Helvetica-font/Helvetica\ Neu\ Bold.ttf);
}